@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container {
    background: linear-gradient(45deg, blueviolet, lightgreen);
    padding-bottom: 100px;
    padding: 15px 9%;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .3);

}


.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
   

}

.container .box-container .box {
    text-align: center;
    box-shadow: 0 5px 3px rgba(0, 0, 0, .3);
    background: #fff;
    border-radius: 8px;
    padding: 15px 10px;
    cursor: pointer;
    transition: all .3s linear;
}
.container .box-container .box:hover{
    transform: scale(1.02);
}
.container .box-container .box img {
    height: 60px;
 }
 .container .box-container .box h3{
    font-size: 22px;
    color: #444;
    padding: 10px 0;
 }
 .container .box-container .box p{
    color: #2e2e2e;
    font-size: 15px;
 }
 .container .box-container .box a{
    display: inline-block;
    color: #fff;
    background: rgba(0, 0, 0, 0.767);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
    transition: all .3s linear;

 }
 .container .box-container .box a:hover {
letter-spacing: 1px;
}